$accentColor = lighten(#282922, 30%);
$textColor = #000000
$titleColor = #454545
$borderColor = #eaecef
$codeBgColor = #282922
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
