:root {
  --vp-font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  /*
    - yellow: #f0db4f
    - brown: #282922
  */

  --sw-yellow: #f0db4f;
  --sw-brown: #282922;
  /* #4b4d40; */
  --sw-brown-light: #6e705d;
  /* very crude, to review */

  --vp-c-brand: var(--sw-brown-light);
  --vp-c-brand-light: var(--sw-brown-light);
  --vp-c-brand-lighter: var(--sw-brown-light);
  --vp-c-brand-dark: var(--sw-brown-light);
  --vp-c-brand-darker: var(--sw-brown);

  /* code bg color */
  --vp-code-block-bg: var(--sw-brown);
  /* non-active nav link */
  --vp-c-text-light-2: rgba(120, 120, 120, 0.95);
}

body {
  font-size: 15px;
}

.VPContent a {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.VPContent .VPDocAside a, a.action-button {
  text-decoration: none;
}

.VPHome {
  max-width: 1150px;
  margin: 0 auto;
  padding: calc(var(--vp-nav-height) + var(--vp-layout-top-height, 0px)) 64px 64px;
  font-weight: normal;
}

.VPHome h1 {
  color: var(--sw-brown);
  padding: 0;
  margin: 0 0 30px 0;
  font-size: 2.2rem;
  border-radius: 3px;
  font-weight: bold;
  line-height: 1.25;
/*  background-color: rgba(27, 31, 35, 0.05);*/
  display: inline-block;
}

.dark .VPHome h1 {
  background-color: rgba(27, 31, 35, 0.95);
  color: #ffffff;
}

.VPHome h2 {
  color: var(--sw-brown-light);
  font-size: 1.65rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--vp-c-divider-light);
  margin: 50px 0 26px;
  font-weight: bold;
  line-height: 1.25;
}

.VPHome h3 {
  color: var(--sw-brown-light);
  font-size: 1.35rem;
  margin: 22px 0;
  font-weight: bold;
  line-height: 1.25;
}

.VPHome .action-button {
  display: inline-block;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: var(--sw-brown);
  padding: 0.8rem 1.6rem;
  border-radius: 4px;
  transition: background-color 0.1s ease;
  box-sizing: border-box;
  border: 1px solid #4b4d40;
  display: inline-block;
  margin: 0 auto;
}
.VPHome .action-button:hover {
  background-color: #565949;
  color: #ffffff;
}

.VPHome ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding-left: 1.2em;
  line-height: 1.7;
}

.VPHome a {
  color: var(--sw-brown-light);
}

.VPHome a:hover {
  color: var(--sw-brown);
}


/* LAYOUT -------------------------- */
.VPHome .intro {
  display: flex;
}

.VPHome .intro img {
  height: 300px;
  margin-right: 50px;
}

.VPHome .intro > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.VPHome .features {
  display: flex;
  justify-content: space-between;
}

.VPHome .features img {
  height: 240px;
  margin-left: 20px;
}

.VPHome .projects {
  display: flex;
  justify-content: space-between;
}

.VPHome .projects .iframe {
  display: block;
  width: 560px;
  height: 0;
  margin: 0;
  padding-bottom: 315px;
  overflow: hidden;
  position: relative;
}

.VPHome .projects iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.VPHome .projects .details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.VPHome .related-work {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.VPHome .related-work a {
  display: block;
  width: 23%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  line-height: 0;
  position: relative;
  opacity: 0.85;
  transition: opacity 200ms;
}

.VPHome .related-work a.web-apps {
  background-image: url(/assets/home/related-apps-ismm.jpeg);
}
.VPHome .related-work a.youtube {
  background-image: url(/assets/home/related-youtube.png);
}
.VPHome .related-work a.team {
  background-image: url(/assets/home/related-team-website.png);
}
.VPHome .related-work a.libs {
  background-image: url(/assets/home/related-code.png);
}

.VPHome .related-work a:hover {
  opacity: 1;
}

.VPHome .related-work a:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.VPHome .related-work a span {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  line-height: 50px;
  font-weight: bold;
  text-indent: 10px;
}

@media (max-width: 640px) {
  .VPHome .related-work {
    flex-direction: column;
  }

  .VPHome .related-work a {
    width: 100%;
    height: 110px;
    margin-bottom: 10px;
  }
}

.VPHome .credits {
  margin-top: 60px;
  border-top: 1px solid var(--vp-c-divider-light);
  height: 4rem;
  line-height: 4rem;
  font-size: 0.8rem;
  position: relative;
}

.VPHome .credits .license {
  font-weight: bold;
}

.VPHome .credits .tutelles {
  position: absolute;
  right: 0;
  top: 0;
}

.VPHome .credits .tutelles a {
  height: 30px;
  width: 60px;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  opacity: 1;
  transition: opacity 0.1s ease;
}

.VPHome .credits .tutelles a:hover {
  opacity: 0.5;
}

.VPHome .credits .tutelles .ircam {
  background-image: url(/assets/home/ircam-black.jpg);
}

.VPHome .credits .tutelles .cnrs {
  background-image: url(/assets/home/cnrs-black.png);
}

.VPHome .credits .tutelles .su {
  background-image: url(/assets/home/su-black.png);
}

.VPHome .credits .tutelles .culture {
  background-image: url(/assets/home/culture-black.jpg);
}

@media (max-width: 1024px) {
  .VPHome h3 {
    font-size: 1.1rem;
  }
}

/* 1 column layout */
@media (max-width: 960px) {
  .VPHome {
    max-width: 790px;
  }

  .VPHome .intro img {
    height: 30%;
    width: 30%;
  }

  .VPHome .intro > div p {
    margin-bottom: 20px;
  }

  .VPHome .features {
    flex-direction: column;
  }

  .VPHome .features img {
    height: auto;
    margin-left: 0px;
    margin-top: 20px;
  }

  .VPHome .projects {
    flex-direction: column;
  }

  .VPHome .projects .iframe {
    width: 100%;
    padding: 0% 0% 56.25%;  /* 16:9 ratio */
  }

  .VPHome .projects .details {
    margin-top: 20px;
  }

  .VPHome .projects .details h3 {
    margin: 12px 0;
  }

  .VPHome .credits {
    height: auto;
    line-height: inherit;
  }

  .VPHome .credits .tutelles {
    position: relative;
    margin-left: 0px;
    margin-top: 12px;
  }
}

/* make it compact */
@media (max-width: 768px) {
  .VPHome {
    padding: 34px 24px 48px;
  }

  .VPHome .intro {
    flex-direction: column;
  }

  .VPHome .intro img {
    width: 172px;
    height: 172px;
  }

  .VPHome .intro > div {
    margin-top: 30px;
  }
}

/* just make the code blocks more square */
.vp-doc div[class*='language-'] {
  font-size: 14px;
}

@media (min-width: 640px) {
  .vp-doc div[class*='language-'] {
      border-radius: 3px;
  }
}
